@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

body{
    background-color: #683333;
    font-family: 'Roboto', sans-serif;
    color: white;
}

h1, h2{
    font-family: 'Bebas Neue', sans-serif;
}


/**********************************HEADER******************************/
header{
    background-image: linear-gradient(to right top, #712222, #722229, #8b232a, #a3252a, #bc2727);
    text-align: center;
    padding: 40px;
}

#diffI{
    color: red;
}

/**********************************NAVIGATION************************/
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(152, 31, 5);
  }

  nav li {
    float: left;
  }
  
  nav a, nav a:visited {
    display: block;
    padding: 7px;
    background-color: rgb(152, 31, 5);
    text-decoration: none;
    color: white;
  }

  nav a:hover{
    background-color: rgb(152, 31, 5);
  }

  .sticky{
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
  }

/**********************************SECTIONS******************************/
section{
    background-color: #4A4D51;
    width:60vw;
    margin: 0 auto;
    padding: 20px;
    overflow: hidden;
}

.alternate{
    background-color: #474041;
}

section img{
  float: left;
  margin-right: 20px;
}


/*******************************FOOTER*******************************/

footer{
  background-color: #592026;
  text-align: center;
  padding: 25px;
}


/*******************************STYLED LINKS*******************************/

a{color: aqua;
}

a:visited{
  color: lime;
}

a:hover{
  color: red;
}

a:active{
  color: yellow;
}

