header{
    background-image: url('../images/dogSitting.jpg');
    background-size: cover;
    background-position: center;
    height: 80vh;
}

#serviceHeader{
    background-image: url("../images/backgrounds/servicesHEADER.jpg");
}

.bg-purple{
    background-color: rgb(59, 0, 85);
}

.nav-link{
    color:rgb(215, 171, 254) !important;
}
.navbar-brand{
    color:rgb(255, 163, 142) !important;
}

footer a{
    color: rgb(126, 69, 226) !important;
}