@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@400;900&display=swap');

header,
p {
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 80px;
    text-align: center;
    color: white;
    background-color: rgb(26, 110, 7);
    padding: 5px;
    width: 80vw;
    margin: 10px auto;
    overflow: hidden;
    border-radius: 15px;
}

h2, h3, h4 {
    font-family: 'Roboto', sans-serif; 
}

body {
    background-image: linear-gradient(to top, #086e32, #308036, #115609, rgb(79, 185, 77), #5ab155);
}

#about {
    background-color: rgb(53, 49, 49);
    color: white;
    font-size: 20px;
    text-align: center;
    margin: 10px auto;
    padding: 10px;
    width: 80vw;
    border-radius: 15px;
}

#content {
    background-color: rgb(53, 49, 49);
    color: white;
    width: 80vw;
    margin: 0 auto;
    padding: 20px;
    /* height: auto; */
    overflow: hidden;
    border-radius: 15px;
    margin: 10px auto;
}

#story {
    background-color:rgb(53, 49, 49);
    color: white;
    width: 80vw;
    margin: 10px auto;
    padding: 20px;
    /* height: auto; */
    overflow: hidden;
    text-align: center;
    border-radius: 15px;
}

footer {
    background-color:rgb(53, 49, 49);
    color: white;
    padding: 10px;
    width: 80vw;
    margin: 10px auto;
    overflow: hidden;
    text-align: center;
    border-radius: 15px;
}